[submodule "deps/tensorflow-ops"]
	path = deps/tensorflow-ops
	url = https://gitlab.com/hipress/tensorflow-ops.git
[submodule "deps/torch-hipress-extension"]
	path = deps/torch-hipress-extension
	url = https://github.com/mark14wu/torch-hipress-extension.git
[submodule "deps/mxnet-1.9.0"]
	path = deps/mxnet-1.9.0
	url = https://github.com/mark14wu/hipress-mxnet.git
[submodule "src/CCO"]
	path = src/CCO
	url = git@github.com:sywang0111/CCO.git
